<div class="explore">
    <div class="explore__devider">*****</div>
    <div class="explore__label">Explore the different tags</div>
    <ul class="categories">
        <li class="categories__item"><a href="{=site.url('/posts/tag/aerogear')}">AeroGear</a></li>
        <li class="categories__item"><a href="{=site.url('/posts/tag/plugins')}">Plugins</a></li>
        <li class="categories__item"><a href="{=site.url('/posts/tag/windows')}">Windows</a></li>
        <li class="categories__item"><a href="{=site.url('/posts/tag/windows-10')}">Windows 10</a></li>
        <li class="categories__item"><a href="{=site.url('/posts/tag/micro-services')}">Micro-Services</a></li>
        <li class="categories__item"><a href="/">All</a></li>
    </ul>
</div>
